__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
patch-*.json
raw_data/*
!raw_data/.gitkeep
processed_data/*
!processed_data/.gitkeep
!processed_data/scraped/
processed_data/scraped/*
!processed_data/scraped/.gitkeep
!processed_data/chunks/
processed_data/chunks/*
!processed_data/chunks/.gitkeep
